//- Para mudar o alinhamento da paginacao, basta add uma das classes: paginacao__start || paginacao__center || paginacao__end || paginacao__between
mixin paginacao(align)
	paginacao
		page-item(href="#" active) 1
		page-item(href="#") 2
		page-item(href="#") 3
		page-item(href="#" disabled) 4
//- mixin paginacao
