// SPRITES EM SVG
.sprite-svg-area
	// PROGRAMADOR! 
		
		Caso queira, você pode substituir todo esse código SVG por <?= require URL_SITE.'/assets/images/sprites.svg';?>
	include ../components/sprites.pug
// FIM SPRITES EM SVG
